/*------------------HOME-----------------------*/
body{

	background-image: url('./img/pexels-photo-733853.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

/* nav */

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFCC99;
}


ul.navbar li {
  float: right;
}

ul.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
}

ul.navbar li a:hover {
  background-color: #111;
}
